.idea/.name
.idea/codeStyleSettings.xml
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/dictionaries/xudong.xml
.idea/encodings.xml
.idea/libraries/dexedLibs.xml
.idea/libraries/dexedLibs2.xml
.idea/libraries/lib.xml
.idea/libraries/libs.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
bin
out
gen
YueDu.apk
